<div class="partie">
    <h1 i18n="@@buttonExperience" class="display-4" style="color:black;">Experience</h1>
    <br>
    <h4 i18n="name xp">Consulting service</h4>
    <div class="place">TAEP, the junior enterprise of ENSTA Paris</div>
    <div class="period">Three months -August 2019</div>
    <div i18n="description xp">Developed a responsive website for the company Vedecom TECH</div>
    <br>
    <br>
    <h4 i18n="name xp">Work experience</h4>
    <div class="place">MINI Plant Oxford, England</div>
    <div class="period">One month -August 2019</div>
    <div i18n="description xp">Worked on the production line and learnt the processes for making cars</div>
    <br>
    <br>
    <h4 i18n="name xp">Observation period</h4>
    <div class="place">Technocentre Renault, France</div>
    <div class="period">One week - 2013</div>
    <div i18n="description xp">Discovered a multinational company and its different fields</div>
</div>