<div class="partie">
<h1 i18n="@@buttonStudies" class="display-4" style="color:black;">Studies</h1>
<br>
<h4 i18n="name studies">1st year of the MSc. in Engineering programme</h4>
<div class="place">ENSTA Paris, Palaiseau, France</div>
<div class="period">Since september 2018</div>
<div i18n="description studies">2019-2020 : Major in Information and Communication Sciences and Technology<br>
C++, Database, Network, Operating System, Project management, Web development<br>
<br>
2018-2019 : core scientific courses<br>
Mathematics, Mechanics, Computer Sciences<br>
</div>
<br>
<br>
<h4 i18n="name studies">Two-year of intensive preparation for nationwide exams to top engineer-ing school</h4>
<div class="place">Lycée Blaise Pascal, Orsay, France</div>
<div class="period">2016-2018</div>
<div i18n="description studies">Courses of Mathematics (algebra, mathematical analysis, probability), Physics (electronics, optics, mechanics, thermodynamics), Chemistry, Engineering, Computer sciences (Python, SQL), Philosophy, English, Spanish</div><br>
<br>
<h4 i18n="name studies">A-level with highest honour</h4>
<div class="place">Lycée de Villaroy, Guyancourt, France</div>
<div class="period">2013-2016</div>
<div i18n="description studies">Physics, Biology and specialisation in Mathematics<br>Spanish european section and latin</div>
</div>