<app-title></app-title>
<div class="container">
    <div class="d-flex justify-content-center">
        <ul class="nav nav-pills justify-content-center flex-column text-center menu">
            <li class="nav-item">
                <div class="dropright">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-file" aria-hidden="true"></i> My CV</a>                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/cv">Website</a>
                    <a class="dropdown-item disabled" href="http://cv.debesse.fr">PDF</a>
                    </div>
                    </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://linkedin.debesse.fr"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://github.debesse.fr"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact"><i class="fa fa-envelope" aria-hidden="true"></i> Contact me</a>
            </li>
        </ul>
    </div>
</div>
