<div class="partie">
<h1 i18n="@@buttonSkills" class="display-4" style="color:black;">Skills</h1>
<br>
<div class="row">
    <div class="col">
        <h4 i18n="title skills">Languages</h4>
        <div i18n="name skills" class="name-skill">French</div>
        <div i18n="description skills">Mothertongue</div>
        <br>
        <div i18n="name skills" class="name-skill">English</div>
        <div i18n="description skills">Fluent<br>Toeic in 2020 (985)</div>
        <br>
        <div i18n="name skills" class="name-skill">Spanish</div>
        <div i18n="description skills">Advanced</div>
        <br>
        <div i18n="name skills" class="name-skill">Chinese</div>
        <div i18n="description skills">Beginner</div>
    </div>
    <div class="col">
        <h4 i18n="title skills">Programming</h4>
        <div class="little-space">Python</div>
        <div class="little-space">C/C++</div>
        <div class="little-space">Matlab</div>
        <div class="little-space">OCaml</div>
        <div class="little-space">Prolog</div>
        <div class="little-space">LaTeX</div>
    </div>
    <div class="col">
        <h4>Web</h4>
        <div class="little-space">HTML5/CSS</div>
        <div class="little-space">Javascript</div>
        <div class="little-space">EJS</div>
        <div class="little-space">Bootstrap</div>
        <div class="little-space">Angular</div>
        <div class="little-space">Vue.js</div>
    </div>
</div>
</div>