<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-xl">
            <h1 class="display-1" style="display: block;">Laetitia Debesse</h1>
        </div>
        <div class="col-xl">
            <div class="degrade">
                <ul class="nav nav-pills ml-auto justify-content-end" id="myMenu" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" routerLink=".." i18n="@@buttonHome">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="../cv/introduction" i18n="@@buttonIntro">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="../cv/studies" i18n="@@buttonStudies">Studies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="../cv/experience" i18n="@@buttonExperience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="../cv/skills" i18n="@@buttonSkills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="../cv/services" i18n="@@buttonServices">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="../cv/portfolio" i18n="@@buttonPortfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../contact" i18n="@@buttonContact">Contact me</a>
                    </li>
                </ul>
            </div>
        </div>   
    </div>
</div>
<div class="container-fluid" style="padding:0">
<div [@routerAnimation]="getRouteAnimation(router)">
        <router-outlet #router="outlet"></router-outlet>
</div>
</div>