<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md">
            <h1 class="display-1" style="display: block;">Laetitia Debesse</h1>
        </div>
        <div class="col-md">
            <div class="degrade">
                <ul class="nav nav-pills ml-auto justify-content-end" id="myMenu" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="..">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../cv/introduction">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../cv/studies">Studies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../cv/experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../cv/skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../cv/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../cv/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../contact">Contact me</a>
                    </li>
                </ul>
            </div>
        </div>   
    </div>
</div>
<router-outlet></router-outlet>